
body {
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    padding-top: 50px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3e053e;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: url('../img/bg.png');
    background-size: cover;
	padding-top: 60px;
}

#headerwrap h1 {
	margin-top: 30px;
	color: white;
	font-size: 70px;
	
}

#headerwrap h3 {
	color: white;
	font-size: 30px;
}

#headerwrap h5 {
	color: white;
	font-weight: 700;
	text-align: left;
}

#headerwrap p {
	text-align: left;
	color: white
}

.subscribe{
    width: 300px;
    margin-left:38%;

}

.navbar-default {
    background: #fcf5f5;
}

.navbar-nav > li > a {
    padding-top: 25px;
    padding-bottom: 25px;
}

.btn.btn-large.btn-success {
    padding: 13px 25px;
}


/* intro Products */

#intro {
	padding-top: 50px;
	border-top: #bdc3c7 solid 5px;
}

#features {
	padding-top: 50px;
	padding-bottom: 50px;
}

#features .ac a{
	font-size: 20px;
}

.centered > img {
    width: 250px;
    height: 270px;
}

/* Showcase Wrap */

#showcase {
	display: block;
	background-color: #ccc;
	padding-top: 50px;
	padding-bottom: 50px;
}

#showcase h2 {
	color: #670e7d;
}

.social-media a {
    color: transparent;
    background: url('../img/sprite.png');
    background-size: 232px 50px;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 60px;
    display: inline-block;
    vertical-align: middle;
    height: 48px;
    margin: 0 14px;
}

.social-media a:hover {
    opacity: 1;
}

.social-media .tt {
    background-position: -118px 0;
}

.social-media .g {
    background-position: -60px 0;
}

.social-media .y {
    background-position: -180px 0;
}

.subscribe-social {
    margin-top: 84px;
}

.subscribe-social input[type="email"] {
    width: 300px;
}

#footerwrap {
	background-color: #2f2f2f;
	color: white;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: left;
}

#footerwrap h3 {
	font-size: 28px;
	color: white;
}

#footerwrap p {
	color: white;
	font-size: 18px;
}

/* Copyright Wrap */

#c {
	background: #222222;
	padding-top: 15px;
	text-align: right;
}

#c p {
	color: white
}

